DESCNAME=Nintendo Entertainment System
NAME=nes
PATH=/home/pi/RetroPie/roms/nes
EXTENSION=.nes .NES
COMMAND=/home/pi/RetroPie/supplementary/runcommand/runcommand.sh 1 "retroarch -L /home/pi/RetroPie/emulatorcores/fceu-next/fceumm-code/fceumm_libretro.so --config /home/pi/RetroPie/configs/all/retroarch.cfg --appendconfig /home/pi/RetroPie/configs/nes/retroarch.cfg %ROM%"
PLATFORMID=7

DESCNAME=Sega Mega Drive / Genesis
NAME=megadrive
PATH=/home/pi/RetroPie/roms/megadrive
EXTENSION=.smd .SMD
COMMAND=/home/pi/RetroPie/supplementary/runcommand/runcommand.sh 1 "retroarch -L /home/pi/RetroPie/emulatorcores/picodrive/picodrive_libretro.so --config /home/pi/RetroPie/configs/all/retroarch.cfg --appendconfig /home/pi/RetroPie/configs/megadrive/retroarch.cfg %ROM%"
# alternatively: COMMAND=/home/pi/RetroPie/supplementary/runcommand/runcommand.sh 1 "/home/pi/RetroPie/emulators/dgen-sdl/dgen -f -r /home/pi/RetroPie/configs/all/dgenrc %ROM%"
# alternatively: COMMAND=export LD_LIBRARY_PATH="/home/pi/RetroPie/supplementary/dispmanx/SDL12-kms-dispmanx/build/.libs"; /home/pi/RetroPie/emulators/dgen-sdl/dgen %ROM%
PLATFORMID=18

DESCNAME=Input Configuration
NAME=esconfig
PATH=/home/pi/RetroPie/roms/esconfig
EXTENSION=.sh .SH
COMMAND=/home/pi/RetroPie/roms/esconfig/Start.sh
